<h1>About the Creators</h1>
<div class='row'>
    <div class='col s12 m6'>
        <p class='content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum porttitor nunc, efficitur placerat sem placerat et. Curabitur id nibh laoreet eros laoreet dignissim vel et ante. Aenean suscipit lorem ac tortor blandit rutrum a eget leo. Quisque eu dolor sit amet dui semper rhoncus at ac elit. Suspendisse blandit eget lorem sed sodales. Morbi placerat eget odio eu dapibus. Duis a interdum ipsum, et convallis nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin porta efficitur facilisis. Integer dapibus quis dolor porta volutpat. In semper magna at justo faucibus commodo at in dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam massa metus, sollicitudin quis sagittis id, iaculis ac neque.
            Ut porttitor massa ac est pulvinar blandit. Aenean varius commodo massa, non sagittis justo semper nec. Cras eu leo vitae sapien tristique auctor sit amet vel arcu. Praesent interdum posuere ante vitae consequat. Praesent convallis enim nec dolor lobortis vehicula. Donec ornare metus ut dolor facilisis congue. Praesent turpis quam, bibendum a lorem sit amet, dictum egestas tortor. Pellentesque vestibulum tellus et felis blandit, sed rhoncus leo commodo. Donec sit amet orci in libero viverra convallis. Morbi a aliquet urna. Nullam dignissim, nunc at dapibus pretium, ligula ipsum facilisis libero, at vestibulum risus diam a magna. Donec ipsum turpis, imperdiet non nunc eget, pharetra pharetra ipsum. Cras orci magna, cursus nec consectetur at, hendrerit nec leo. In rutrum ultrices nunc, eget semper augue porttitor sed. Curabitur pellentesque venenatis fermentum.
            Proin sed mattis massa. Integer sem dolor, tincidunt id neque sed, viverra lacinia turpis. Praesent arcu libero, lobortis id sapien sed, blandit pharetra risus. Maecenas erat sem, aliquam vitae dapibus in, porttitor id ipsum. Phasellus facilisis enim odio, quis finibus nibh porttitor congue. Sed sapien diam, hendrerit eu consectetur eget, efficitur a massa. Nam vel leo in quam tempor tempus.
        </p>
    </div>
    <div class='col s12 m6 imgbox'>
        <div class='row'>
            <div class='col s12'>
                <img class="responsive-img" src='img/smallnewKyle.png'>
            </div>
            <div class='col s12 center linkbox'>
                <a href='https://github.com/kyleavb/socket-game'>Github</a>
                <a href='https://www.linkedin.com/in/kylevanbergen/'>LinkedIn</a>
                <a href='http://www.kylevanbergen.com'>Portfolio</a>
                <a href='mailto:kyleavb@gmail.com?Subject=Crestfall' target="_top">Email</a>
            </div>
        </div>
    </div>
    
</div>