<h1>About the Creators</h1>
<div class='row'>
    <div class='col s12 m6'>
        <div class="row">
            <div class='col s12'>
                <h3 class="flow-text">Kyle Van Bergen - Lead Programer</h3>
            </div>
            <div class='col s12'>
                <p class='content'>
                    Enthusiastic and result-driven professional with over five years of information technology and consulting experience. A proven track record of effectively partnering and collaborating with key stake holders to achieve business objectives under critical time constraints. Motivated life-long learner looking to pivot my previous experience into web development and to further my understanding of complex platforms and enhance my experience with various technology stacks.
                </p>
            </div>
        </div>
    </div>
    <div class='col s12 m6'>
        <div class='row'>
            <div class='col s12 valign-wrapper'>
                <img class="responsive-img" src='img/smallnewKyle.png'>
            </div>
            <div class='col s12 center linkbox'>
                <a href='https://github.com/kyleavb/socket-game' target="_blank">Github</a>
                <a href='https://www.linkedin.com/in/kylevanbergen/' target="_blank">LinkedIn</a>
                <a href='http://www.kylevanbergen.com' target="_blank">Portfolio</a>
                <a href='mailto:kyleavb@gmail.com?Subject=Crestfall' target="_top">Email</a>
            </div>
        </div>
    </div>
</div>
<hr />