<canvas id='canvas'></canvas>

<div>
    <p>Chat Below!</p>
    <div class='chatbox'>
        <ul id='msg'></ul>
    </div>
    <input id='m' type='text'><button id='sub' class='btn'>Send Your message!</button>
</div>

<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="/game_files/main.js"></script>