<h2>Welcome back adventurer, sign in below.</h2>
<div class="container">
    <form method="POST" action="/auth/login">
        <input type="email" name="email" placeholder="E-Mail">
        <input type="password" name="password" placeholder="Password">
        <button class="btn orange lighten-2" type="submit">Proceed</button>
    </form>
</div>
