<h1>Welcome Adventurer</h1>
<p>Please fill out the information below.</p>

<form method="POST" action="/auth/signup">
    <input type="text" name="firstName" placeholder="First Name">
    <input type="text" name="lastName" placeholder="Last Name">
    <input type="text" name="email" placeholder="E-Mail">
    <input type="text" name="userId" placeholder="Desired User ID">
    <input type="password" name="password" placeholder="Password">
    <button class='btn orange lighten-2' type="submit">Begin Adventure</button>
</form>